// Colors //
$primary-color :     #FF6060;
$secondary-color :   #C4C4C4;
$background-color :  #F6F6F6;

// Gradient //
$gradient-to-black : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

//Breakpoints for responsive
$breakpoints: (
    smartphone: 768px,
    tablet: 1024px,
);

/* Rounded Corner */
@mixin rounded-corner-big{
    border-radius: 25px;
}

@mixin rounded-corner-medium {
    border-radius: 10px;
}

@mixin rounded-corner-small {
    border-radius: 5px;
}

//Text Drop Shadow
@mixin text-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//Mediaqueries for responsive
@mixin smartphone-responsive {
    @media all and (max-width: map-get($breakpoints, smartphone)) {
        @content;
    }
}

@mixin tablet-responsive {
    @media all and (min-width: map-get($breakpoints, smartphone)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}


//Settle global base for typography
* {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

//Specific categories
.active-link {
    text-decoration: underline;
}


//Font weight map
$font-weight: (
    light: 400,
    regular: 500,
    bold: 700,
);
