// Colors //
$primary-color : #FF6060;
$secondary-color : #C4C4C4;
$tertiary-color: #FFFFFF;
$background-color : #F6F6F6;



//Breakpoints for responsive
$breakpoints: (
    smartphone: 768px,
    tablet: 1024px,
);

//Settle global base for typography
* {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

//Specific categories
.active-link {
    text-decoration: underline;
}


//Font weight map
$font-weight: (
    light: 400,
    regular: 500,
    bold: 700,
);