// Colors //
$primary-color : #FF6060;
$secondary-color : #C4C4C4;
$tertiary-color: #FFFFFF;
$background-color : #F6F6F6;



//Breakpoints for responsive
$breakpoints: (
    smartphone: 900px,
    smallphone: 500px,
);


@mixin smartphone-responsive {
    @media all and (max-width: map-get($breakpoints, smartphone)) {
        @content;
    }
}

@mixin smallphone-responsive {
    @media all and (max-width: map-get($breakpoints, smallphone)) {
        @content;
    }
}

//Settle global base for typography
* {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    color: black;
}

//Specific categories
.active-link {
    text-decoration: underline;
}

