@import '../../style/global.scss';

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
    margin: 20px 0;
    @include smartphone-responsive {
        margin: 15px 0;
    }
    &__text {
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: $primary-color;
        height: 32px;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 3px 25px;
        @include smartphone-responsive {
            height: 18px;
            font-size: 10px;
        }
    }
}