@import '../style/global.scss';

.appartmentRent {
    margin: auto;
    background-color: $background-color;
    padding: 60px 50px;
    border-radius: 15px;

    &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;

    }
}