@import '../style/global.scss';

.HouseInfoPage {
    margin: auto;
    margin-top: 40px;

}

.HouseInfoPageRent {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 10px;
    @include smartphone-responsive {
        display: flex;
        flex-direction: column;
        margin: 15px auto;
    }
    &__info {
        margin-top: 20px;
        &--title {
            margin: 0;
            font-size: 36px;
            font-weight: 300;
            @include smartphone-responsive {
                font-size: 18px;
            }
        }
        &--location {
            font-size: 18px;
            margin: 0;
            color: black;
            margin-bottom: 20px;
            @include smartphone-responsive {
                font-size: 14px;
            }
        }
    }

    &__renter {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include smartphone-responsive {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &--identity {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            &--name {
                width: 100px;
                text-align: right;
                font-size: 18px;
                margin: 0;
                @include smartphone-responsive {
                    font-size: 12px;
                }
            }
            &--pic {
                height: 64px;
                width: 64px;
                border-radius: 90px;
                @include smartphone-responsive {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }

    &__collapse {
        display: flex;
        justify-content: space-between;
        @include smallphone-responsive {
            flex-direction: column;
        }
    }
    
}
