@import '../../style/global.scss';


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin: 50px -100px -50px -100px;
    @include smartphone-responsive {
        margin: 50px -30px -30px -30px;
    }
    &__logo {
        width: 122px;
        padding-top: 4%;
        @include smallphone-responsive {
            width: 100px;
        }
    }
    &__disclaimer {
        font-size: 24px;
        color: #ffffff;
        padding: 1% 0%;
        @include smallphone-responsive {
            font-size: 20px;
        }
    }
}