@import '../../style/global.scss';

.error {
	text-align: center;
	&-title {
    font-size: 250px;
    font-weight: 700;
    margin: 70px 0 0 0;
	}
	&-subtitle {
		font-weight: 500;
		margin-top: 75px;	
        font-size: 32px;
	}
	&-link {
		display: block;
		margin-top:60px;
		color: black;
		text-decoration-line: underline;
        font-size: 19px;
		
	}
}